<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <title>Kreiskarte</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="static/css/bootstrap.min.css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="static/css/style.css" media="screen" charset="utf-8">
</head>
<body>
  {{ content }}
<script src="static/vendor/jquery/dist/jquery.min.js" charset="utf-8"></script>
<script src="static/vendor/bootstrap.min.js" charset="utf-8"></script>
<script src="static/vendor/d3/d3.min.js" charset="utf-8"></script>
<script src="static/vendor/topojson/topojson.js" charset="utf-8"></script>
<script src="static/js/kreiskarte.js" charset="utf-8"></script>
<script>
  var windowHeight = $(window).height();
  var noControls;
  if (document.location.search.indexOf('nocontrols') !== -1) {
    $('#vis').height(windowHeight);
    $('#vis').width($(window).width());
    $('#controls').remove();
    $('#zoomout').remove();
    $('body').addClass('nocontrols');
    noControls = true;
  } else {
    if ($(window).width() < 510) {
      // var controlHeight = Math.round(window.innerHeight / 5 * 2);
      var controlHeight = $('#controls').height();
      $('#vis').height(windowHeight - controlHeight);
    } else {
      $('#vis').height(windowHeight);
      $('#controls').height(windowHeight);
    }
  }
  if (document.location.hash && document.location.hash.indexOf('-modal') !== -1) {
    $(document.location.hash).modal();
  }
  var vis = new Kreiskarte({
    containerId: 'vis',
    plzInput: 'plz-input',
    noControls: noControls,
    staticPath: 'static/',
    dorling: true
  });
  vis.init();
</script>
</body>
</html>
